.divFilters {
    background-color: #7c4404b0;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.originFilter {
    height: 4vh;
    border: none;
    font-size: 18px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 3px;
    margin-right: 1.5vw;
    background-color: rgb(212, 210, 205);
    cursor: pointer;
}
.dietFilter {
    height: 4vh;
    border: none;
    font-size: 18px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 3px;
    margin-right: 1.5vw;
    background-color: rgb(212, 210, 205);
    cursor: pointer;
}
.order {
    height: 4vh;
    border: none;
    font-size: 18px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 3px;
    background-color: rgb(212, 210, 205);
    cursor: pointer;
}
.resetButton {
    height: 4vh;
    border: none;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 3px;
    margin-right: 1.5vw;
    background-color: rgb(212, 210, 205);
    cursor: pointer;
}
.resetButton:hover {
    background-color: rgb(180, 179, 175);
}