.Form {
    margin: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    max-width: 700px;
    height: auto;
    background-color:rgb(199, 152, 91);
    padding-bottom: 4vh;
    border-radius: 20px;
}
.divGeneral {
    display: flex;
    justify-content: space-evenly;
    background-image: url('../../assets/images/fondoHome.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 67vh;
}
.selectForm {
    font-size: 16px;
    background-color: rgb(212, 210, 205);
    border-radius: 5px;
    width: 15vw;
    height: 4%;
    margin-top: 2%;
    cursor: pointer;
}
.labelForm {
    font-weight:600;
}
.addStepButton {
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 15px;
    border: none;
    width: 8vw;
    height: 6%;
    border-radius: 4px;
    cursor: pointer;
}
.addStepButton:hover {
    background-color: rgb(212, 210, 205);
    transition: 0.5s;
}
.submitButton {
    margin-top: 4%;
    font-size: 16px;
    border: none;
    width: 10vw;
    height: 6%;
    border-radius: 4px;
    cursor: pointer;
}
.submitButton:hover {
    background-color: rgb(212, 210, 205);
    transition: 0.8s;
    font-size: 20px;
}
.imagePreview {
    max-width: 20vw;
    border-radius: 5px;
}
.formPreview {
    display: flex;
    width: 50vw;
    height: auto;
    margin: 4%;
    background-color: rgb(62, 114, 77);
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 700px;
    align-items: center;
    padding-bottom: 4vh;
}
.inputForm {
    resize: none;
    border: none;
    width: 30vw;
    margin: 2%;
    border-radius: 2px;
    height: 4%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.dietList {
    display: flex;
    list-style: none;
}
.dietPreview {
    margin-left: 5px;
    cursor: pointer;
    background-color: rgba(88, 86, 86, 0.555);
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
.prePreview {
 font-size: 15px;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.h3Preview {
    font-size: 1.2vw;
    margin: 0px;
}
.errorForm {
    color: rgb(202, 0, 0);
}